[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Ümit Can Evleksiz
	email = umitcan.evleksiz@goodjobgames.com
[core]
	autocrlf = input
[http]
	postBuffer = 157286400
